page-trainer {
    .event-detail-container{
        display: none;
    }
    [_nghost-c0] > div[_ngcontent-c0] {
        height: 50%;
    }
    @media (max-width:520px) {
        table{
            theah tr td{
                display: flex;
            }
        }
        small {
            font-size: 75%;
            display: flex;
            justify-content: center;
        }
        .text-muted{
            font-size: 15px;
            padding: 4px;
        }
    }
}
