<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{viewTitle}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-calendar #calendar [events]="currentEvents" (onDaySelect)="onDaySelect($event)" (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)"></ion-calendar> -->
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" step="30">
  </calendar>
  <div *ngFor='let event  of events3' [ngStyle]="{'background-color': event.eventColor}" (click)="viewDetail(event)">
     <p><b>{{event.title}}</b> fecha de inicio: {{event.startTime}}  fecha de inicio: {{event.entTime}}</p>
  </div>

</ion-content>