<ion-header>

  <ion-navbar>
    <ion-title>{{ plan.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <div class="plan-profile" text-center #profilePic [style.background-image]="'url(' + plan.profilePic + ')'">
  </div> -->
  <div class="plan-detail" padding>
    <!-- <h2>{{plan.name}}</h2>
    <p>{{plan.about}}</p>

    <ul>
      <li *ngFor="let item of  filtro">
        <button ion-button icon-left (click)="goDetail(item)">
            <p> {{item.name}} - {{item.fecha}} - {{item.hora}}</p>
        </button>
      </li>
    </ul> -->
  </div>
</ion-content>