page-quiz {
    .card{
        h1{
            text-align: center
        }
        h2{
            font-weight: bold;
            text-align: left;
            padding-left: 0px;
        }
    }
    .item-quiz{
        input{
            height: 30px;
            border-bottom: solid #9a9a9a 1px;
            border-left: none;
            border-top: none;
            border-right: none;
            width: 100%;
        }
    }
    .card-md{
        margin: 9px -7px 12px -5px;
    }
    .wizard-custom .ng-tns-c4-0{
        margin-left: -15px;
    }
    #myInput {
        width: 100%;
        border: 0;
        border-radius: 0;
        background: transparent;
        border-bottom: solid #4c87ff 1px;
    }
    textarea.text-input {
        display: block;
        border: solid;
    }
}
