<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encuesta</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="is_created">
    <ion-simple-wizard [(step)]="step" [showSteps]="false" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
      <ion-wizard-step *ngFor="let q of quiz">
        <ion-card padding>
          <h1>{{q.name}}</h1>
          <div *ngFor="let question of questions" class="item-quiz">
            <div *ngIf="question.quiz_id==q.id" padding>
              <h2 padding>{{question.question}}</h2>
              <textarea #myInput id="myInput"  rows="{{question.answer?.length  / 30}}" (input)="CalcularRow($event.target.value)"  type="text" name="Intensidad" [(ngModel)]="question.answer"></textarea>
            </div>
          </div>
            <div padding *ngIf="is_charge_info && q.id!==6">
              <button ion-button (click)="toggle()">Siguiente</button>
            </div>
            <div padding *ngIf="is_charge_info && q.id==6">
                <button ion-button (click)="SendQuiz()">Aceptar</button>
              </div>

          <!-- <div padding *ngIf="is_charge_info">
              <button ion-button (click)="SendQuiz()">Aceptar</button>
            </div> -->
        </ion-card>
      </ion-wizard-step>
    </ion-simple-wizard>

  </div>
  <div *ngIf="!is_created">
    <ion-card padding *ngFor="let q of questions">
      <h3>{{q.name}}</h3>
      <div *ngFor="let question of q.quiz_questions">


        <input type="text" name="Intensidad" [(ngModel)]="question.answer">

      </div>
    </ion-card>
    <div padding *ngIf="is_charge_info">
      <button ion-button (click)="SendQuiz()">Aceptar</button>
    </div>
  </div>
</ion-content>