<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfíl</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card paddding>
    {{person | json}}
  </ion-card>
  <form>
    <ion-item>
      <ion-label floating>Nombres</ion-label>
      <ion-input type="text" name="name" [ngModel]="person?.name" (ngModelChange)="person.name=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Apellidos</ion-label>
      <ion-input ttype="text" name="last_name" [ngModel]="person?.last_name" (ngModelChange)="person.last_name=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Documento de identidad</ion-label>
      <ion-input type="text" name="document_number" [ngModel]="person?.document_number" (ngModelChange)="person.document_number=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Fecha de nacimiento</ion-label>
      <ion-input type="text" name="birthdate" [ngModel]="person?.birthdate" (ngModelChange)="person.birthdate=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Nacionalidad</ion-label>
      <ion-select type="text" name="country" [ngModel]="person?.country" (ngModelChange)="person.country=$event">
        <ion-option *ngFor="let country of countries">{{country.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Celular</ion-label>
      <ion-input type="text" name="cellphone" [ngModel]="person?.cellphone" (ngModelChange)="person.cellphone=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Telefono</ion-label>
      <ion-input type="text" name="phone" [ngModel]="person?.phone" (ngModelChange)="person.phone=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Dirección</ion-label>
      <ion-input type="text" name="address" [ngModel]="person?.address" (ngModelChange)="person.address=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Correo</ion-label>
      <ion-input type="text" name="email" [ngModel]="person?.email" (ngModelChange)="person.email=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Pais de residencia</ion-label>
      <ion-select type="text" name="country_origen" [ngModel]="person?.country_origen" (ngModelChange)="person.country_origen=$event">
        <ion-option *ngFor="let country of countries">{{country.value}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select>
        <ion-option value="1">
          Femenino
        </ion-option>
        <ion-option value="2">Masculino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Facebook</ion-label>
      <ion-input type="text" name="facebook" [ngModel]="person?.facebook" (ngModelChange)="person.facebook=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Instagram</ion-label>
      <ion-input type="text" name="instagram" [ngModel]="person?.instagram" (ngModelChange)="person.instagram=$event"></ion-input>
    </ion-item>
  </form>

  <ion-card padding>
    <h1 paddding> Datos del Acudiente</h1>
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" [ngModel]="person?.people_parent.name" (ngModelChange)="person.people_parent.name=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Apellidos</ion-label>
      <ion-input type="text" [ngModel]="person?.people_parent.last_name" (ngModelChange)="person.people_parent.last_name=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Docuemnto de identidad</ion-label>
      <ion-input type="text" [ngModel]="person?.people_parent.document_number" (ngModelChange)="person.people_parent.document_number=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Celular</ion-label>
      <ion-input type="text" [ngModel]="person?.people_parent.cell" (ngModelChange)="person.people_parent.name=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Teléfono</ion-label>
      <ion-input type="text" [ngModel]="person?.people_parent.phone" (ngModelChange)="person.people_parent.name=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Correo</ion-label>
      <ion-input type="text" [ngModel]="person?.people_parent.email" (ngModelChange)="person.people_parent.email=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Dirección</ion-label>
      <ion-input type="text" [ngModel]="person?.people_parent.address" (ngModelChange)="person.people_parent.address=$event"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label floating>Club</ion-label>
      <ion-input type="text"  [ngModel]="person?.club" (ngModelChange)="person.cl=$event"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select  [ngModel]="person?.people_category.category" (ngModelChange)="person.people_category.category=$event" (ionChange)="changeCategory($event)">
        <ion-option>Infantíl</ion-option>
        <ion-option>Juveníl</ion-option>
        <ion-option>Elite</ion-option>
        <ion-option>Master</ion-option>
        <ion-option>Aguas abiertas</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Estilo</ion-label>
        <ion-select  [ngModel]="person?.people_style.style" (ngModelChange)="person.people_style.style=$event" (ionChange)="changeCategory($event)">
          <ion-option>Libre/Crol</ion-option>
          <ion-option>Espalda</ion-option>
          <ion-option>Pecho/Braza</ion-option>
          <ion-option>Mariposa</ion-option>
          <ion-option>Individual</ion-option>
          <ion-option>Aguas abiertas</ion-option>
        </ion-select>
      </ion-item>

  </ion-card>
  <ion-card>
    <h1 paddding> Tiempo a 50 metros</h1>

    <div *ngFor="let styletime of person?.people_style_time">
      <ion-row padding>
        <h3>{{styletime.style_name}}</h3>
      </ion-row>
      <ion-row padding>
        <ion-col col-4>

          <ion-item>
            <ion-input type="text" [(ngModel)]="styletime.time.cen"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-input type="text" [(ngModel)]="styletime.time.min"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-input type="text" [(ngModel)]="styletime.time.seg"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>



    <!-- <div *ngFor="let styletime of people_style_time">

    <div *ngFor="let t of styletime.time">
      {{t}}
    </div>
      
    </div> -->

  </ion-card>

  <div padding>
    <button ion-button color="primary" block (click)="UpdateUser()">Aceptar</button>
  </div>





</ion-content>