page-plan-detail {
  .plan-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .plan-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
