// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-content-md {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    min-width: 0;
    max-width: 100%;
    display: flex;
}
// .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
//     border-bottom-color: #9e9e9e;
//     -webkit-box-shadow: inset 0 -1px 0 0 #9e9e9e;
//     box-shadow: inset 0 -1px 0 0 #9e9e9e;
// }
// .invalid{
//     border-bottom-color: #f53d3d !important;
//     -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d !important;
//     box-shadow: inset 0 -1px 0 0 #f53d3d !important;
//     .item-input-has-focus .label-md[stacked],
//     .input-has-focus .label-md[stacked],
//     .item-input-has-focus .label-md[floating],
//     .input-has-focus .label-md[floating] {
//       color:  #f53d3d;
//     }
// }
.ob-ms-err{
    color: #f53d3d;
    padding-top: -3px;
    padding-right: 35px;
    position: absolute;
    width: 100%;
    z-index: 99;
    text-align: right;
}
.toolbar-background-md {
    border-color: #3F51B5;
    background: #4c87ff;
    color: #fff;
}
.toolbar-title-md {
    color: #fff;
}
