page-detailtrainer {
.card{
    padding-bottom: 28px;
}
.card-md h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: #222;
    padding-top: 15px;
    text-align: center;
    margin-bottom: -8px;
}
}
