<!--
  Generated template for the DetailtrainerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Entrenamiento</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- <form (ngSubmit)="SendTrainer()"> -->
  <div *ngFor="let item of items">
    <ion-item *ngIf="!isObject(item.value)">
      <ion-label floating>{{item.campo}}</ion-label>
      <ion-input type="text" name="Intensidad" [(ngModel)]="item.value"></ion-input>
    </ion-item>
    <ion-card *ngIf="isObject(item.value)">
      <ion-row>
        <ion-col>
          <h2>{{item.campo}}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>hora</ion-label>
            <ion-input type="text" name="Intensidad" [(ngModel)]="item.value.hora"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>min</ion-label>
            <ion-input type="text" name="Intensidad" [(ngModel)]="item.value.min"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div padding>
    <button ion-button (click)="SendTrainer()">Aceptar</button>
  </div>

  <!-- </form> -->
</ion-content>