<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons>
      <button ion-button icon-only (click)="addPlan()">
        <ion-icon name="add"></ion-icon>
      </button>


    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let plan of currentPlans">
      <button ion-item (click)="openPlan(plan)">
        <ion-avatar item-start>
          <img [src]="plan.profilePic" />
        </ion-avatar>
        <h2>{{plan.name}}</h2>
        <p>{{plan.about}}</p>
        <ion-note plan-end *ngIf="plan.note">{{plan.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(plan)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>