<!--
  Generated template for the QuizsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Encuestas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
sdfasd
</ion-content>