<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-plan (click)="openPlan(plan)" *ngFor="let plan of currentPlans">
      <ion-avatar plan-start>
        <img [src]="plan.profilePic" />
      </ion-avatar>
      <h2>{{plan.name}}</h2>
      <p>{{plan.about}}</p>
      <ion-note plan-end *ngIf="plan.note">{{item.note}}</ion-note>
    </button>
  </ion-list>
</ion-content>