page-signup {
    // .color-blue {
    //     color: #016089;
    // }
   
    // .ob-input-registered {
    //     border: 1px solid #fff;
    //     width: 100%;
    //     height: 44px;
    //     padding: 3%;
    //     border-bottom: solid #dedede 1px;
    //     padding: 5px;
    //     font-size: 16px;
    // }
    // .ob-input-registered::placeholder{
    //     color: #9a9a9a;
    // }
 
    .invalid {
        border-bottom-color: #f53d3d !important;
        -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d important;
        box-shadow: inset 0 -1px 0 0 #f53d3d important;
        color: #f53d3d;
        .label{
            color: #f53d3d;
        }

    }

.item-select{
    margin-top: 20px;
}
.button{
    margin-top: 53px;
    margin-left: 13px;
}
.ng-tns-c0-0{
    z-index: 1000;
}
.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 2px;
    display: none;
}
.item-datetime{
    margin-top: 20px;
}

}
