<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="registeredForm">
    <ion-simple-wizard [(step)]="step" [showSteps]="false" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
      <ion-wizard-step>
        <!-- <ion-card class="card-wizard"> -->
          <!-- <ion-icon class="card-wizard-icon" name="ionic" color="primary"></ion-icon> -->
          <ion-card-content>
            <ion-card-title>
              Datos del Nadador
            </ion-card-title>
            <ion-item [class.invalid]="registeredForm.controls.name.invalid && ((registeredForm.controls.name.dirty || registeredForm.controls.name.touched) || submitAttempt)">
              <ion-label floating>Nombres</ion-label>
              <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.name.invalid && ((registeredForm.controls.name.dirty || registeredForm.controls.name.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.name.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.name.invalid && !registeredForm.controls.name.errors.required">El campo no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.last_name.invalid && ((registeredForm.controls.last_name.dirty || registeredForm.controls.last_name.touched) || submitAttempt)">
              <ion-label floating>{{ 'LAST_NAME' | translate }}</ion-label>
              <ion-input type="text" name="last_name" formControlName="last_name" class="ob-input-registered"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.last_name.invalid && ((registeredForm.controls.last_name.dirty || registeredForm.controls.last_name.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.last_name.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.last_name.invalid && !registeredForm.controls.last_name.errors.required">El campo no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.document_number.invalid && ((registeredForm.controls.document_number.dirty || registeredForm.controls.document_number.touched) || submitAttempt)">
              <ion-label floating>{{ 'DOCUMENT_NUMBER' | translate }}</ion-label>
              <ion-input type="text" formControlName="document_number" typeField="document_number" (input)="validateDocument($event.target.value)"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.document_number.invalid && ((registeredForm.controls.document_number.dirty || registeredForm.controls.document_number.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.document_number.invalid && !registeredForm.controls.document_number.errors.required">El campo no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.birthdate.invalid && ((registeredForm.controls.birthdate.dirty || registeredForm.controls.birthdate.touched) || submitAttempt)">
              <ion-label>{{ 'BIRTHDATE' | translate }}</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthdate" (ionChange)="calcularEdad($event)" name="birthdate"
                class="ng-valid ng-touched ng-dirty"></ion-datetime>
            </ion-item>
            <div *ngIf="registeredForm.controls.birthdate.invalid && ((registeredForm.controls.birthdate.dirty || registeredForm.controls.birthdate.touched) || submitAttempt)">
              <div class="ob-ms-err">El campo es requerido</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.country_id.invalid && ((registeredForm.controls.country_id.dirty || registeredForm.controls.country_id.touched) || submitAttempt)">
              <ion-label>Nacionalidad</ion-label>
              <ion-select formControlName="country_id">
                <ion-option *ngFor="let country of countries" [value]="country.id">{{country.value}}</ion-option>
              </ion-select>
            </ion-item>
            <div *ngIf="registeredForm.controls.country_id.invalid && ((registeredForm.controls.country_id.dirty || registeredForm.controls.country_id.touched) || submitAttempt)">
              <div class="ob-ms-err">El campo es requerido</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.cellphone.invalid && ((registeredForm.controls.cellphone.dirty || registeredForm.controls.cellphone.touched) || submitAttempt)">
              <ion-label floating>{{ 'CELLPHONE' | translate }}</ion-label>
              <ion-input type="text" formControlName="cellphone"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.cellphone.invalid && ((registeredForm.controls.cellphone.dirty || registeredForm.controls.cellphone.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.cellphone.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.cellphone.errors.minlength">El cellphone debe tener al menos 7 caracteres de largo.</div>
              <div *ngIf="registeredForm.controls.cellphone.errors.maxlength ">El cellphone debe tener máximo 15 caracteres.</div>
              <div *ngIf="registeredForm.controls.cellphone.invalid && !registeredForm.controls.cellphone.errors.required && !registeredForm.controls.cellphone.errors.minlength  && !registeredForm.controls.cellphone.errors.maxlength ">El celular no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.phone.invalid && ((registeredForm.controls.phone.dirty || registeredForm.controls.phone.touched) || submitAttempt)">
              <ion-label floating>{{ 'PHONE' | translate }}</ion-label>
              <ion-input type="text" formControlName="phone"> </ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.phone.invalid && ((registeredForm.controls.phone.dirty || registeredForm.controls.phone.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.phone.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.phone.errors.minlength">El phone debe tener al menos 7 caracteres de largo.</div>
              <div *ngIf="registeredForm.controls.phone.errors.maxlength ">El phone debe tener máximo 15 caracteres.</div>
              <div *ngIf="registeredForm.controls.phone.invalid && !registeredForm.controls.phone.errors.required && !registeredForm.controls.phone.errors.minlength  && !registeredForm.controls.phone.errors.maxlength ">El celular no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.address.invalid && ((registeredForm.controls.address.dirty || registeredForm.controls.address.touched) || submitAttempt)">
              <ion-label floating>{{ 'ADDRESS' | translate }}</ion-label>
              <ion-input type="text" name="address" formControlName="address"></ion-input>
            </ion-item>
            <div class="ob-ms-err" *ngIf=" ((registeredForm.controls.address.dirty || registeredForm.controls.address.touched) || submitAttempt)
             && registeredForm.controls.address.errors">el campo es obligatorio</div>
            <ion-item>
              <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
              <ion-input type="text" name="username" formControlName="username" (input)="validateUsername($event.target.value)"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.username.invalid && ((registeredForm.controls.username.dirty || registeredForm.controls.username.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.username.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.username.invalid && !registeredForm.controls.username.errors.required">El campo no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.email.invalid && ((registeredForm.controls.email.dirty || registeredForm.controls.email.touched) || submitAttempt)">
              <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
              <ion-input type="email" name="email" (input)="validateEmail($event.target.value)" formControlName="email" typeField="email"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.email.invalid && ((registeredForm.controls.email.dirty || registeredForm.controls.email.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.email.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.email.invalid && !registeredForm.controls.email.errors.required">El correo no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.origin_city.invalid && ((registeredForm.controls.origin_city.dirty || registeredForm.controls.origin_city.touched) || submitAttempt)">
              <ion-label floating>ciudad de residencia</ion-label>
              <ion-input type="text" name="origin_city" formControlName="origin_city"></ion-input>
            </ion-item>
            <div class="ob-ms-err" *ngIf=" ((registeredForm.controls.origin_city.dirty || registeredForm.controls.origin_city.touched) || submitAttempt)
               && registeredForm.controls.address.errors">el campo es obligatorio</div>
            <ion-item [class.invalid]="registeredForm.controls.country_origin_id.invalid && ((registeredForm.controls.country_origin_id.dirty || registeredForm.controls.country_origin_id.touched) || submitAttempt)">
              <ion-label>Pais de Residencia</ion-label>
              <ion-select formControlName="country_origin_id">
                <ion-option *ngFor="let country of countries" [value]="country.id">{{country.value}}</ion-option>
              </ion-select>
            </ion-item>
            <div *ngIf="registeredForm.controls.country_origin_id.invalid && ((registeredForm.controls.country_origin_id.dirty || registeredForm.controls.country_origin_id.touched) || submitAttempt)">
              <div class="ob-ms-err">El campo es requerido</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.gender.invalid && ((registeredForm.controls.gender.dirty || registeredForm.controls.gender.touched) || submitAttempt)">
              <ion-label>Sexo</ion-label>
              <ion-select formControlName="gender">
                <ion-option value="1">
                  Femenino
                </ion-option>
                <ion-option value="2">Masculino</ion-option>
              </ion-select>
            </ion-item>
            <div *ngIf="registeredForm.controls.gender.invalid && ((registeredForm.controls.gender.dirty || registeredForm.controls.gender.touched) || submitAttempt)">
              <div class="ob-ms-err">El campo es requerido</div>
            </div>
            <div *ngIf="!registeredForm.controls.gender.valid && (registeredForm.controls.gender.dirty || submitAttempt)" class="ob-ms-err">El campo es obligatorio</div>
            <ion-item [class.invalid]="registeredForm.controls.password.invalid && ((registeredForm.controls.password.dirty || registeredForm.controls.password.touched) || submitAttempt)">
              <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
              <ion-input type="password" name="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="msg-flex">
              <div>
                <div *ngIf="registeredForm.controls.password.invalid && ((registeredForm.controls.password.dirty || registeredForm.controls.password.touched) || submitAttempt)"
                  class="ob-ms-err">
                  <div *ngIf="registeredForm.controls.password.errors.required">El campo es obligatorio.</div>
                  <div *ngIf="registeredForm.controls.password.invalid && !registeredForm.controls.password.errors.required">La contraseña no es valida.</div>
                </div>
              </div>
              <!-- <span class="msj-min-car">La contraseña debe tener al menos 8 caracteres</span> -->
            </div>
            <ion-item [class.invalid]="registeredForm.controls.rpassword.invalid && ((registeredForm.controls.rpassword.dirty || registeredForm.controls.rpassword.touched) || submitAttempt)">
              <ion-label floating>Repetir contraseña</ion-label>
              <ion-input type="password" name="rpassword" formControlName="rpassword"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.rpassword.invalid && ((registeredForm.controls.rpassword.dirty || registeredForm.controls.rpassword.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.rpassword.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.rpassword.invalid && !registeredForm.controls.rpassword.errors.required">La contraseñas no coinciden.</div>
            </div>
            <ion-item>
              <ion-label floating>{{ 'FACEBOOK' | translate }}</ion-label>
              <ion-input type="text" formControlName="facebook"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>{{ 'INSTAGRAM' | translate }}</ion-label>
              <ion-input type="text" formControlName="instagram"></ion-input>
            </ion-item>
            <button ion-button outline (click)="toggle()">Siguiente</button>
          </ion-card-content>
        <!-- </ion-card> -->
      </ion-wizard-step>
      <ion-wizard-step>
        <!-- <ion-card class="card-wizard"> -->
          <!-- <ion-icon class="card-wizard-icon" [name]="getIconStep2()" color="primary"></ion-icon> -->
          <ion-card-content>
            <ion-card-title>
              Datos del Representante
            </ion-card-title>
            <ion-item [class.invalid]="registeredForm.controls.name_parent.invalid && ((registeredForm.controls.name_parent.dirty || registeredForm.controls.name_parent.touched) || submitAttempt)">
              <ion-label floating>Nombres</ion-label>
              <ion-input type="text" name="name_parent" formControlName="name_parent"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.name_parent.invalid && ((registeredForm.controls.name_parent.dirty || registeredForm.controls.name_parent.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.name_parent.invalid && !registeredForm.controls.name_parent.errors.required">El nombre no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.last_name_parent.invalid && ((registeredForm.controls.last_name_parent.dirty || registeredForm.controls.last_name_parent.touched) || submitAttempt)">
              <ion-label floating>{{ 'LAST_NAME' | translate }}</ion-label>
              <ion-input type="text" name="last_name_parent" formControlName="last_name_parent" class="ob-input-registered"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.last_name_parent.invalid && ((registeredForm.controls.last_name_parent.dirty || registeredForm.controls.last_name_parent.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.last_name_parent.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.last_name_parent.invalid && !registeredForm.controls.last_name_parent.errors.required">El nombre no es valido.</div>
            </div>
            <ion-item [class.invalid]="registeredForm.controls.document_number_parent.invalid && ((registeredForm.controls.document_number_parent.dirty || registeredForm.controls.document_number_parent.touched) || submitAttempt)">
              <ion-label floating>{{ 'DOCUMENT_NUMBER_parent' | translate }}</ion-label>
              <ion-input type="text" formControlName="document_number_parent" typeField="document_number_parent" (input)="validateDocument($event.target.value)"></ion-input>
            </ion-item>
            <div *ngIf="registeredForm.controls.document_number_parent.invalid && ((registeredForm.controls.document_number_parent.dirty || registeredForm.controls.document_number_parent.touched) || submitAttempt)">
              <div class="ob-ms-err">
                <div *ngIf="registeredForm.controls.document_number_parent.invalid">El campo es obligatorio.</div>
              </div>
            </div>
            <!-- <div *ngIf="registeredForm.controls.cellphone_parent.invalid && ((registeredForm.controls.cellphone_parent.dirty || registeredForm.controls.cellphone_parent.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.cellphone_parent.errors.minlength">El telefono debe tener al menos 7 caracteres de largo.</div>
              <div *ngIf="registeredForm.controls.cellphone_parent.errors.maxlength ">El telefono debe tener máximo 15 caracteres.</div>
              <div *ngIf="registeredForm.controls.cellphone_parent.invalid && !registeredForm.controls.cellphone_parent.errors.minlength  && !registeredForm.controls.cellphone_parent.errors.maxlength ">El celular no es valido.</div>
            </div> -->
            <ion-item [class.invalid]="registeredForm.controls.phone_parent.invalid && ((registeredForm.controls.phone_parent.dirty || registeredForm.controls.phone_parent.touched) || submitAttempt)">
              <ion-label floating>{{ 'PHONE' | translate }}</ion-label>
              <ion-input type="text" formControlName="phone_parent"> </ion-input>
            </ion-item>
            <!-- <div *ngIf="registeredForm.controls.phone_parent.invalid && ((registeredForm.controls.phone_parent.dirty || registeredForm.controls.phone_parent.touched) || submitAttempt)"
              class="ob-ms-err">
           
              <div *ngIf="registeredForm.controls.phone_parent.errors.minlength">El telefono debe tener al menos 7 caracteres de largo.</div>
              <div *ngIf="registeredForm.controls.phone_parent.errors.maxlength ">El phone_parent debe tener máximo 15 caracteres.</div>
              <div *ngIf="registeredForm.controls.phone_parent.invalid  && !registeredForm.controls.phone.errors.minlength  && !registeredForm.controls.phone.errors.maxlength ">El celular no es valido.</div>
            </div> -->
            <ion-item>
              <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
              <ion-input type="email_parent" name="email_parent" formControlName="email_parent" typeField="email_parent"></ion-input>
            </ion-item>
            <!-- <div *ngIf="registeredForm.controls.email_parent.invalid && ((registeredForm.controls.email_parent.dirty || registeredForm.controls.email_parent.touched) || submitAttempt)"
              class="ob-ms-err">
              <div *ngIf="registeredForm.controls.email_parent.errors.required">El campo es obligatorio.</div>
              <div *ngIf="registeredForm.controls.email_parent.invalid && !registeredForm.controls.email_parent.errors.required">El correo no es valido.</div>
            </div> -->
            <ion-item>
              <ion-label floating>ciudad de residencia</ion-label>
              <ion-input type="text" name="origin_city_parent" formControlName="origin_city_parent"></ion-input>
            </ion-item>
            <ion-item [class.invalid]="registeredForm.controls.country_origin_id_parent.invalid && ((registeredForm.controls.country_origin_id_parent.dirty || registeredForm.controls.country_origin_id_parent.touched) || submitAttempt)">
              <ion-label>Pais de Residencia</ion-label>
              <ion-select formControlName="country_origin_id_parent">
                <ion-option *ngFor="let country of countries" [value]="country.id">{{country.value}}</ion-option>
              </ion-select>
            </ion-item>
            <button ion-button outline (click)="toggle2()">Siguiente</button>
          </ion-card-content>
        <!-- </ion-card> -->
      </ion-wizard-step>
      <ion-wizard-step>
        <!-- <ion-card class="card-wizard"> -->
          <!-- <ion-icon class="card-wizard-icon" [name]="getIconStep3()" color="primary"></ion-icon> -->
          <ion-card-content>
            <ion-card-title>
              Final Step
            </ion-card-title>
            <ion-item>
              <ion-label floating>{{ 'CLUB' | translate }}</ion-label>
              <ion-input type="text" formControlName="club"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Categoria</ion-label>
              <ion-select formControlName="category">
                <ion-option value="1">Infantíl</ion-option>
                <ion-option value="2">Juveníl</ion-option>
                <ion-option value="3">Elite</ion-option>
                <ion-option value="4">Master</ion-option>
                <ion-option value="5">Aguas abiertas</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Estilo</ion-label>
              <ion-select formControlName="style">
                <ion-option value="1">Libre/Crol</ion-option>
                <ion-option value="2">Espalda/Dorso</ion-option>
                <ion-option value="3">Pecho/Braza</ion-option>
                <ion-option value="4">Mariposa</ion-option>
                <ion-option value="5">Combinado Individual</ion-option>
                <ion-option value="6">Aguas Abiertas</ion-option>
              </ion-select>
            </ion-item>
            <div padding>
              <button ion-button color="primary" block (click)="CreateUser()">{{ 'SIGNUP_BUTTON' | translate }}</button>
            </div>
          </ion-card-content>
        <!-- </ion-card> -->
      </ion-wizard-step>
    </ion-simple-wizard>
  </form>
</ion-content>